<div class="container d-flex justify-content-center mt-3">
  <h1>Iniciar Sesión</h1>
</div>

<div class="container my-3 mx-0">
  <div class="row row-cols-3">
    <div class="col-md-3">

    </div>
    <div class="col-12 col-md-6">
      <form onsubmit="loginPost(event)">
        <div class="mb-3">
          <label for="" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" required />
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-secondary">Aceptar</button>
        </div>
      </form>
    </div>
    <div class="col-md-3">

    </div>
  </div>

</div>